
    .light-theme {
        --bg: var(--white);
        --fontColor: var(--black);
       /* --btnFontColor: var(--white); */
    }
    
    .dark-theme {
        --bg: var(--black);
        --fontColor: var(--green);
        /* --btnFontColor: var(--black); */
        

    }
    .dark-theme button.enviar {
        color: var(--black)
    }
    :root {
        --green: #00FF00;
        --white: #ffffff;
        --black: #000000;
    }
    
    body {
        background: var(--bg, #ffffff); 
    }
    header { 
    color: #fff; 
    text-align: center;
    padding: 10px;
    }

.registrar {
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin-top: 10px;
}
.btn-theme{
    white-space: nowrap;
}
.light-theme .titulo {
    color:black
    
}
.dark-theme .titulo {
    color:white
    
}